/* Barra de navegación. */
nav.mainNav {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--back);
    padding: 20px;
    border-bottom: 2px solid var(--solid);
    position: fixed;
}

div.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

p.fontLogo {
    color: var(--light);
    text-transform: uppercase;
    font-size: 30px;
}


/* Menú hamburguesa. */
div.buttonBars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}

span.topBar, span.middleBar, span.bottomBar {
    display: block;
    height: 3px;
    background-color: var(--light);
    width: 30px;
    margin: 0px 4px 5px;
    border-radius: 10px;
    transform-origin: 0px 100%;
    transition: all 0.5s;
}

span.topBar {
  margin-top: 5px;
}


/* Animación del menú hamburguesa. */
.activeTopBar {
    transform: rotate(45deg) translate(-4px, 0px);
}

.activeMiddleBar {
    opacity: 0;
}

.activeBottomBar{
    transform: rotate(-45deg) translate(-2px, 1px);
}


/* Menu desplegable. */
div.menu {
    position: absolute;
    left: -100%;
    top: 60px;
    width: 100vw;
    height: calc(100vh - 60px);
    transition: left 1s ease;
    background-color: var(--back);
}

ul.listMenu {
    list-style: none;
}

li.itemMenu {
    width: 100%;
}

a.linkMenu {
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--light);
    padding: 20px 15px;
    font-size: 20px;
}


/* Header */
header.homeContainer {
    display: flex;
    flex-direction: column;
    padding: 200px 0px 300px;
}

div.imgContainer, div.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding-bottom: 30px;
}

h1.titlePortfolio {
    font-size: 30px;
    color: var(--light);
    padding: 20px 0px;
}

p.subtitle {
    font-size: 20px;
    color: var(--solid);
    padding: 20px 0px;
}

a.btnContact, button.btnContact {
    border: none;
    background: none;
    color: var(--light);
    font-size: 14px;
    text-transform: uppercase;
    background-color: var(--presence);
    padding: 15px;
    border-radius: 2px;
    margin-top: 15px;
    cursor: pointer;
}

img.imgBanner {
    width: 50%;
    max-width: 160px;
    height: 100%;
    margin-bottom: 15px;
}


/* Mí perfil. */
section.profileContainer {
    padding: 60px 0px;
}

h2.titlePortfolio {
    font-size: 24px;
    color: var(--light);
    margin: 20px;
}


p.infoProfile {
    display: block;
    max-width: 450px;
    font-size: 16px;
    line-height: 20px;
    color: var(--text);
    padding: 25px;
    text-align: justify;
    border-top: 8px solid var(--presence);
    border-bottom: 8px solid var(--presence);
    border-radius: 8px;
    margin: 0px 10px 20px;
}


/* Tecnologías que uso. */
section.tecContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
}

img.tecImg {
    width: 60px;
}

h3.tecTitle {
    font-size: 24px;
    color: var(--light);
    margin: 30px 10px;
}

div.iconsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.tecIcons1, div.tecIcons2 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    border-top: 8px solid var(--presence);
    border-radius: 8px;
}

div.tecIcons2 {
    border-top: none;
    border-bottom: 8px solid var(--presence);
    border-radius: 8px;
}


/* Mís habilidades. */
section.skillsContainer, section.contactContainer, form.contactForm {
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
}

h4.abilitiesTitle {
    font-size: 24px;
}

div.languajesContainer {
    width: 85%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 2px;
}

div.skills {
    margin-bottom: 25px;
}


/* Barras de progreso de habilidades. */
div.languajes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

div.progressBar {
    height: 30px;
    background-color: #242426;
}

div#htmlBar, div#cssBar, div#jsBar, div#phpBar, div#mysqlBar, div#gitBar, div#bootBar, div#nodejsBar {
    display: none;
    width: 0;
    height: 30px;
    background-color: var(--presence);
}

div#htmlBar {
    animation: htmlBar 4s forwards;
}

div#cssBar {
    animation: cssBar 4s forwards;
}

div#jsBar {
    animation: jsBar 4s forwards;
}

div#phpBar {
    animation: phpBar 4s forwards;
}

div#mysqlBar {
    animation: mysqlBar 4s forwards;
}

div#gitBar {
    animation: gitBar 4s forwards;
}

div#bootBar {
    animation: bootBar 4s forwards;
}

div#nodejsBar {
    animation: nodejsBar 4s forwards;
}


/* Animación de las barras de progreso. */
@keyframes htmlBar {
    100% {
        width: 75%;
    }
}

@keyframes cssBar {
    100% {
        width: 60%;
    }
}

@keyframes jsBar {
    100% {
        width: 80%;
    }
}

@keyframes phpBar {
    100% {
        width: 80%;
    }
}

@keyframes mysqlBar {
    100% {
        width: 80%;
    }
}

@keyframes gitBar {
    100% {
        width: 70%;
    }
}

@keyframes bootBar {
    100% {
        width: 55%;
    }
}

@keyframes nodejsBar {
    100% {
        width: 85%;
    }
}

/* Proyectos. */
section.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}

h5.projectTitle {
    color: var(--light);
    font-size: 28px;
    margin-bottom: 20px;
}

div.projectsLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

div.link {
    margin-bottom: 40px;
}

img.imageProject {
    width: 300px;
    margin-top: 20px;
}

p.projectsDescription {
    color: var(--light);
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}

/* Contactame. */
section.contactContainer {
    padding: 80px 0px;
}

h6.contactTitle {
    font-size: 28px;
}

form.contactForm {
    width: 85%;
    align-items: center;
    padding: 30px 0px;
    border-top: 8px solid var(--presence);
    border-bottom: 8px solid var(--presence);
    border-radius: 8px;
}

input.inputContact {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: var(--shadow);
    padding: 0px 15px;
    color: var(--text);
}

textarea.inputContact {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--shadow);
    padding: 15px;
    color: var(--text);
    font-size: 14px;
}

::placeholder {
    text-transform: uppercase;
}

span.msg {
    width: 100%;
    margin: 10px 0px 30px;
    text-align: start;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    word-spacing: 5px;
}

/* Modal con advertencia de error en el formulario de contacto. */
div.errorContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.9);
}

img.errorImg {
    width: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 20px;
}

div.msgContainer {
    position: relative;
    width: 100%;
    max-width: 300px;
    border: 4px solid var(--presence);
    border-radius: 10px;
    margin-top: -180px;
    margin-right: 20px;
    padding: 15px;
    background-color: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.msgContainer::before {
    content: '';
    display: block;
    width: 15px;
    height: 30px;
    background-color: var(--presence);
    position: absolute;
    bottom: -14px;
    left: 15px;
    border-bottom-right-radius: 100%;
    z-index: -1;
}

div.close {
    display: block;
    width: 25px;
    height: 25px;
    background-color: var(--shadow);
    position: absolute;
    top: -40px;
    right: -5px;
    border: 2px solid var(--presence);
    border-radius: 50%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
}

p.msgModal {
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
}


/* Footer. */
footer.networksContainer {
    background-color: var(--shadow);
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

div.networks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--light);
}

div.logoFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

p.fontLogoFooter {
    color: var(--light);
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 30px;
}

div.linksContainer {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
}

a.linkNetwork {
    outline: none;
    text-decoration: none;
    color: var(--light);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--light);
    border-radius: 50%;
}

span.copy {
    font-size: 12px;
    padding: 30px 0px 0px;
}

/* Medias querys. */
@media (min-width: 992px){


    /* Barra de navegación. */
    nav.mainNav {
        height: 80px;
    }

    div.buttonBars {
        display: none;
    }

    div.menu {
        position: static;
        height: 80px;
    }
    
    ul.listMenu {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        border-bottom: 1px solid var(--solid);
    }
    
    li.itemMenu {
        width: 150px;
    }
    
    a.linkMenu {
        width: 100%;
        height: 100%;
        color: var(--light);
    }

    a.linkMenu:hover {
        color: none;
        color: var(--presence);
    }


    /* Header. */
    header.homeContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    div.imgContainer, div.textContainer {
        width: 50%;
    }

    h1.titlePortfolio {
        font-size: 54px;
        color: var(--light);
        padding: 20px 0px;
    }

    p.subtitle {
        font-size: 24px;
    }

    a.btnContact, button.btnContact {
        color: var(--presence);
        background-color: var(--back);
        border: 1px solid var(--presence);
    }
    
    button.btnContact {
        padding: 15px;
    }
    
    img.imgBanner {
        width: 50%;
        max-width: 200px;
        margin-bottom: 10px;
    }


    /* Mi perfil. */
    section.profileContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2.titlePortfolio {
        font-size: 30px;
        color: var(--light);
        margin: 30px;
    }

    p.infoProfile {
        display: block;
        max-width: 800px;
        font-size: 20px;
        line-height: 25px;
        color: var(--text);
        padding: 25px;
        text-align: justify;
        border-top: 8px solid var(--presence);
        border-bottom: 8px solid var(--presence);
        border-radius: 8px;
        margin: 0px 10px 10px;
    }

    a.btnContact:hover {
        color: var(--light);
        background-color: var(--presence);
        box-shadow: 0px 0px 10px var(--presence), 0px 0px 40px var(--presence), 0px 0px 80px var(--presence);
    }


    /* Tecnologías que uso. */
    section.tecContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3.tecTitle {
        font-size: 30px;
    }


    /* Mís habilidades. */
    div.languajesContainer {
        width: 60%;
        margin: 15px auto;
        padding: 10px;
        border-radius: 2px;
    }

    img.tecImg {
        width: 80px;
    }

    h4.abilitiesTitle {
        font-size: 32px;
    }

    /* Proyectos. */
    div.projectsLinks {
        flex-direction: row;
    }

    /* Contactame. */ 
    form.contactForm {
        width: 65%;
    }

    h5.contactTitle {
        font-size: 32px;
    }

    button.btnContact:hover {
        color: var(--light);
        background-color: var(--presence);
        box-shadow: 0px 0px 10px var(--presence), 0px 0px 40px var(--presence), 0px 0px 80px var(--presence);
    }


    /* Footer. */
    div.networks {
        flex-direction: row;
        justify-content: space-between;
    }

    a.linkNetwork:hover {
        background-color: var(--presence);
    }
}